body {
    margin: 0;
    padding: 0;
}
body {
    background: #ddd;
}
img {
    border: none;
}
a {
    text-decoration: none;
    color: #444;
}
#titleBar {
    width: 600px;
    margin: 20px auto;
    text-align: center;
}
#wrap {
    width: auto;
    height: auto;
    margin: 0 auto;
    position: relative;
}
#wrap .box {
    width: 280px;
    height: auto;
    border: none;
    padding: 10px;
    float: left;
}
#wrap .box .info {
    width: 280px;
    height: auto;
    background: #fff;
    border-radius: 8px;
}
#wrap .box .info .pic {
    width: 260px;
    height: auto;
    margin: 0 auto;
    padding-top: 10px;
}
#wrap .box .info .pic img {
    width: 260px;
    border-radius: 3px;
}
#wrap .box .info .title {
    width: 260px;
    height: 40px;
    margin: 0 auto;
    line-height: 40px;
    text-align: center;
    color: #666;
    font-size: 18px;
    font-weight: bold;
    overflow: hidden;
}
@keyframes shade{
    from {
        opacity: 1;
    }
    15% {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes shade{
    from {
        opacity: 1;
    }
    15% {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes shade{
    from {
        opacity: 1;
    }
    15% {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}@-ms-keyframes shade{
    from {
        opacity: 1;
    }
    15% {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}
@-o-keyframes shade{
    from {
        opacity: 1;
    }
    15% {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}
#wrap .box .info .pic:hover {
    animation: shade 3s ease-in-out 1;
    -o-animation: shade 3s ease-in-out 1;
    -moz-animation: shade 3s ease-in-out 1;
    -ms-animation: shade 3s ease-in-out 1;
    -webkit-animation: shade 3s ease-in-out 1;
}
#wrap .box .info .title:hover {
    animation: shade 3s ease-in-out 1;
    -o-animation: shade 3s ease-in-out 1;
    -moz-animation: shade 3s ease-in-out 1;
    -ms-animation: shade 3s ease-in-out 1;
    -webkit-animation: shade 3s ease-in-out 1;
}